# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt, kts}]
max_line_length = 100
ij_continuation_indent_size = 2
ij_kotlin_continuation_indent_in_parameter_lists = true

[*.{json, hjson, yml}]
indent_size = 2
